---
const screenshots = [
  'https://pixelflare.cc/alicia/site-scan/wc-ssl',
  'https://pixelflare.cc/alicia/site-scan/wc-dns',
  'https://pixelflare.cc/alicia/site-scan/wc-cookies',
  'https://pixelflare.cc/alicia/site-scan/wc-robots',
  'https://pixelflare.cc/alicia/site-scan/wc-headers',
  'https://pixelflare.cc/alicia/site-scan/wc-quality',
  'https://pixelflare.cc/alicia/site-scan/wc-location',
  'https://pixelflare.cc/alicia/site-scan/wc-hosts',
  'https://pixelflare.cc/alicia/site-scan/wc-redirects',
  'https://pixelflare.cc/alicia/site-scan/wc-txt-records',
  'https://pixelflare.cc/alicia/site-scan/wc-status',
  'https://pixelflare.cc/alicia/site-scan/wc-ports',
  'https://pixelflare.cc/alicia/site-scan/wc-trace-route',
  'https://pixelflare.cc/alicia/site-scan/wc-carbon',
  'https://pixelflare.cc/alicia/site-scan/wc-server',
  'https://pixelflare.cc/alicia/site-scan/wc-domain',
  'https://pixelflare.cc/alicia/site-scan/wc-domain',
  'https://pixelflare.cc/alicia/site-scan/wc-dnssec',
  'https://pixelflare.cc/alicia/site-scan/wc-features',
  'https://pixelflare.cc/alicia/site-scan/wc-hsts',
  'https://pixelflare.cc/alicia/site-scan/wc-dns-servers',
  'https://pixelflare.cc/alicia/site-scan/wc-tech',
  'https://pixelflare.cc/alicia/site-scan/wc-pages',
  'https://pixelflare.cc/alicia/site-scan/wc-securitytxt',
  'https://pixelflare.cc/alicia/site-scan/wc-links',
  'https://pixelflare.cc/alicia/site-scan/wc-social',
  'https://pixelflare.cc/alicia/site-scan/wc-email',
  'https://pixelflare.cc/alicia/site-scan/wc-firewall',
  'https://pixelflare.cc/alicia/site-scan/wc-http',
  'https://pixelflare.cc/alicia/site-scan/wc-history',
  'https://pixelflare.cc/alicia/site-scan/wc-rank',
  'https://pixelflare.cc/alicia/site-scan/wc-blocks',
  'https://pixelflare.cc/alicia/site-scan/wc-threats',
  'https://pixelflare.cc/alicia/site-scan/wc-tls-cipher',
  'https://pixelflare.cc/alicia/site-scan/wc-tls-sec',
  'https://pixelflare.cc/alicia/site-scan/wc-tls-handshake',
  'https://pixelflare.cc/alicia/site-scan/wc-screenshot',
];
---

<div class="container">
  <div class="column">
    {
      screenshots
        .slice(0, 20)
        .map((src, idx) => <img src={src} class="screenshot" alt={`Screenshot ${idx}`} />)
    }
  </div>
  <div class="column">
    {
      screenshots
        .slice(20)
        .map((src, idx) => <img src={src} class="screenshot" alt={`Screenshot ${idx + 20}`} />)
    }
  </div>
</div>

<style lang="scss">
  @use '@styles/global.scss' as *;

  .container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    justify-content: flex-end;
    gap: 1.5rem;
    z-index: 2;
    @include desktop-down {
      display: none;
    }
  }

  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    animation: scroll 24s linear infinite;
    &:nth-child(2) {
      animation: scroll 16s linear infinite;
    }
    &:hover {
      animation-play-state: paused;
    }
  }

  .screenshot {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    filter: contrast(120%) grayscale(50%) hue-rotate(-20deg);
    clip-path: inset(0.5rem);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
</style>
